[Unit]
Description="Osselbot coded for civilians all partying"

[Service]
ExecStart=/home/pi/Osselbot/src/bot-start.sh
Restart=always
User=pi
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/tech1/Osselbot/src/

[Install]
WantedBy=multi-user.target
