[Unit]
Description="Osselbot coded for civilians all partying"

[Service]
Type=simple
ExecStart=/home/ceasharks/github/Osselbot/src/bot-start.sh
Restart=on-failure
RestartSec=5s
User=ceasharks
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/ceasharks/github/Osselbot/src/

[Install]
WantedBy=multi-user.target
